.mag-component-footer {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 1740px;
    height: 54px;
    line-height: 54px;
    position: absolute;
    left: 90px;
    bottom: 57px;
    display: table;
    z-index: 10;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .mag-component-footer.hidden {
        display: none; }
    .mag-component-footer > table {
        vertical-align: middle;
        text-align: center; }
        .mag-component-footer > table > tbody > tr > td {
            width: 54px; }
            .mag-component-footer > table > tbody > tr > td.central {
                width: 1632px; }
                .mag-component-footer > table > tbody > tr > td.central > .wrapper {
                    height: 54px;
                    visibility: inherit; }
                    .mag-component-footer > table > tbody > tr > td.central > .wrapper.hidden {
                        display: none; }
                    .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button {
                        display: inline-block;
                        height: 54px;
                        padding: 0 30px 0 22.5px; }
                        .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button.disabled {
                            opacity: 0.3; }
                        .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button.hidden {
                            display: none; }
                        .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button .title {
                            padding-left: 15px; }
            .mag-component-footer > table > tbody > tr > td .iconImg, .mag-component-footer > table > tbody > tr > td .iconImg:before {
                height: 54px;
                line-height: 54px;
                width: 54px;
                text-align: center;
                float: left; }
            .mag-component-footer > table > tbody > tr > td .title {
                display: block;
                float: right; }
    .mag-component-footer.focus {
        outline: 1px dashed red; }
