.mag-component-footer {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 1160px;
    height: 36px;
    line-height: 36px;
    position: absolute;
    left: 60px;
    bottom: 38px;
    display: table;
    z-index: 10;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .mag-component-footer.hidden {
        display: none; }
    .mag-component-footer > table {
        vertical-align: middle;
        text-align: center; }
        .mag-component-footer > table > tr > td {
            width: 36px; }
            .mag-component-footer > table > tr > td.central {
                width: 1088px; }
                .mag-component-footer > table > tr > td.central > .wrapper {
                    height: 36px;
                    visibility: inherit; }
                    .mag-component-footer > table > tr > td.central > .wrapper.hidden {
                        display: none; }
                    .mag-component-footer > table > tr > td.central > .wrapper > .mag-component-button {
                        display: inline-block;
                        height: 36px;
                        padding: 0 20px 0 15px; }
                        .mag-component-footer > table > tr > td.central > .wrapper > .mag-component-button.hidden {
                            display: none; }
                        .mag-component-footer > table > tr > td.central > .wrapper > .mag-component-button .title {
                            padding-left: 10px; }
            .mag-component-footer > table > tr > td .icon {
                display: block;
                text-align: left;
                background: no-repeat center center; }
                .mag-component-footer > table > tr > td .icon.info {
                    text-align: right; }
            .mag-component-footer > table > tr > td .iconImg {
                height: 36px;
                line-height: 36px;
                width: 36px;
                text-align: center;
                float: left; }
            .mag-component-footer > table > tr > td .title {
                display: block;
                float: right; }
    .mag-component-footer.focus {
        outline: 1px dashed red; }
