.mag-component-footer {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 600px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    left: 60px;
    bottom: 24px;
    display: table;
    z-index: 10;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .mag-component-footer.hidden {
        display: none; }
    .mag-component-footer > table {
        vertical-align: middle;
        text-align: center; }
        .mag-component-footer > table > tr > td {
            width: 28px; }
            .mag-component-footer > table > tr > td.central {
                width: 544px; }
                .mag-component-footer > table > tr > td.central > .wrapper {
                    height: 28px;
                    visibility: inherit; }
                    .mag-component-footer > table > tr > td.central > .wrapper.hidden {
                        display: none; }
                    .mag-component-footer > table > tr > td.central > .wrapper > .button {
                        display: inline-block;
                        height: 28px;
                        padding: 0 10px 0 7.5px; }
                        .mag-component-footer > table > tr > td.central > .wrapper > .button.hidden {
                            display: none; }
                        .mag-component-footer > table > tr > td.central > .wrapper > .button .title {
                            padding-left: 5px; }
            .mag-component-footer > table > tr > td .iconImg {
                height: 28px;
                line-height: 28px;
                width: 28px;
                text-align: center;
                float: left; }
            .mag-component-footer > table > tr > td .title {
                display: block;
                float: right; }
    .mag-component-footer.focus {
        outline: 1px dashed red; }
