.mag-component-footer {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 600px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    left: 60px;
    bottom: 24px;
    display: table;
    z-index: 10; }
    .mag-component-footer.hidden {
        display: none; }
    .mag-component-footer > table {
        vertical-align: middle;
        text-align: center; }
        .mag-component-footer > table > tbody > tr > td {
            width: 28px; }
            .mag-component-footer > table > tbody > tr > td.central {
                width: 544px; }
                .mag-component-footer > table > tbody > tr > td.central.noButtons {
                    width: 600px; }
                .mag-component-footer > table > tbody > tr > td.central > .wrapper {
                    height: 28px;
                    visibility: inherit; }
                    .mag-component-footer > table > tbody > tr > td.central > .wrapper.hidden {
                        display: none; }
                    .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button {
                        display: inline-block;
                        height: 28px;
                        padding: 0 10px 0 7.5px; }
                        .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button.disabled {
                            opacity: 0.3; }
                        .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button.hidden {
                            display: none; }
                        .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button .title {
                            padding-left: 5px; }
            .mag-component-footer > table > tbody > tr > td .iconImg, .mag-component-footer > table > tbody > tr > td .iconImg:before {
                height: 28px;
                line-height: 28px;
                width: 28px;
                text-align: center;
                float: left; }
            .mag-component-footer > table > tbody > tr > td .title, .mag-component-footer > table > tbody > tr > td .label {
                display: block;
                float: right; }
            .mag-component-footer.hoverable .button:hover, .mag-component-footer.hoverable .simple-button:hover {
                background-color:rgba(245, 245, 245, 0.2); }
