.mag-component-footer {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 1160px;
    height: 36px;
    line-height: 36px;
    position: absolute;
    left: 60px;
    bottom: 38px;
    display: table;
    z-index: 10; }
    .mag-component-footer.hidden {
        display: none; }
    .mag-component-footer > table {
        vertical-align: middle;
        text-align: center; }
        .mag-component-footer > table > tbody > tr > td {
            width: 36px; }
            .mag-component-footer > table > tbody > tr > td.central {
                width: 1088px; }
                .mag-component-footer > table > tbody > tr > td.central > .wrapper {
                    height: 36px;
                    visibility: inherit; }
                    .mag-component-footer > table > tbody > tr > td.central > .wrapper.hidden {
                        display: none; }
                    .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button {
                        display: inline-block;
                        height: 36px;
                        padding: 0 20px 0 15px; }
                        .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button.disabled {
                            opacity: 0.3; }
                        .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button.hidden {
                            display: none; }
                        .mag-component-footer > table > tbody > tr > td.central > .wrapper > .button .title {
                            padding-left: 10px; }
            .mag-component-footer > table > tbody > tr > td .iconImg, .mag-component-footer > table > tbody > tr > td .iconImg:before {
                height: 36px;
                line-height: 36px;
                width: 36px;
                text-align: center;
                float: left; }
            .mag-component-footer > table > tbody > tr > td .title {
                display: block;
                float: right; }
